/*#region ManuButton*/

/*#endregion*/
/*#region Navbar*/
.navbar-container {
    display: flex;
    padding: 1rem;
    position: absolute;
    top: 0;
}

.title {
    font-size: 1.25rem;
    color: var(--youtube-font);
}
/*#endregion*/
/*#region sidenavlinks*/
.navlinks-container {
    position: absolute;
    top: 3rem;
    display: flex;
    gap: 1rem;
    padding-inline: 1rem;
    color: var(--youtube-font);
}

.dashboard-container, .projects-container, .all--tickets-container {
    background-color: var(--youtube-gray);
    padding: 0.5rem;
    border-radius: 10px;
}
/*#endregion*/