/*#region ManuButton*/

/*#endregion*/
/*#region Navbar*/
.navbar-container {
    display: flex;
    padding-inline: 1.5rem;
    padding-block: 0.75rem;
}

.title {
    font-size: 1.25rem;
    color: var(--youtube-font);
}
/*#endregion*/
/*#region sidenavlinks*/
.navlinks-container {
    display: flex;
    gap: 1rem;
    padding-inline: 1rem;
    color: var(--youtube-font);
    justify-content: space-between;
}

.dashboard-container, .projects-container, .all--tickets-container, .admin--area-container{
    background-color: var(--youtube-gray);
    padding: 0.5rem;
    border-radius: 10px;
}

.top-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
/*#endregion*/
/*#region logout*/
.logout-button {
    color: var(--youtube-font);
    background-color: var(--youtube-gray);
    border: none;
}
/*#endregion*/