.register-box {
    width: 700px;
    height: 450px;
    margin: auto;
}

.register-form {
    display: flex;
    flex-direction: column;
}

.login-here {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}

.login-here:hover {
    color: rgb(33, 68, 210);
}

