.register-box {
    width: 700px;
    margin: auto;
    overflow: hidden;
    border-radius: 35px;
    border: 1px solid var(--youtube-font);
    padding: 0.1rem;
    background-color: var(--youtube-black);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.register-form {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 35px;
    height: 100%;
    padding: 1rem;
}

input {
   padding: 0.35rem;
   border: none;
   border-bottom: 1px dotted var(--youtube-font);
   background-color: var(--youtube-black);
}

input:focus {
    outline: none;
}

.login-here {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    text-decoration: underline;
}

.login-here:hover {
    color: rgb(33, 68, 210);
}

.below--form-container {
    display: flex;
    gap: 1rem;
    margin-top: 0.5rem;
    justify-content: space-between;
    padding-top: 0.2rem;
}

.below--form-p {
    padding-top: 0.4rem;
}

.manu-button {
    background-color: rgb(33, 68, 210);
    border: none;
    padding: 0.3rem;
    border-radius: 15px;
    min-width: 100px;
    cursor: pointer;
    transition: transform 0.2s ease-out, box-shadow 0.2s ease-out;
}

.manu-button:active {
    transform: scale(1.02);
    box-shadow: 0 0 0 5px rgba(79, 70, 229, 0.3);
}

.manu-button::after {
    animation: ripple 0.4s ease-out;
}